<h1>Burning Airlines</h1>



<!-- Append results to main -->
<div id="main">
</div>

<script type="text/x-template" id="flights-template">

</script>

<script type="text/x-template" id="airplane-template">

</script>

<script type="text/x-template" id="search-template">
  <h2>Origin</h2>

  <div class="origin">
    <select id="origin">
      <option>Blank</option>
    </select>
  </div>

  <h2>Destination</h2>

  <div class="desination">
    <select id="#destination">
      <option>Blank</option>
    </select>
  </div>

  <input type="button" id="restart" value="Find">
</script>

<script type="text/x-template" id="flightid-template">

</script>
