<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <div class="navbar-header">HI</div>
    </li>
    
  </ul>
</nav>
<div class="container">
  <h1>Burning Airlines</h1>

<!-- Append results to main -->
<div id="main">
</div>

<script type="text/x-template" id="flights-template">

  <h2>Origin</h2>

  <div class="origin">
    <select id="origin">
      <option>Blank</option>
    </select>
  </div>

  <h2>Destination</h2>

  <div class="desination">
    <select id="#destination">
      <option>Blank</option>
    </select>
  </div>

  <input type="button" id="restart" value="Find">

</script>

<script type="text/x-template" id="airplane-template">

</script>

<script type="text/x-template" id="search-template">
  <h2>Origin</h2>

  <div class="origin">
    <select id="origin">
      <option>Blank</option>
    </select>
  </div>

  <h2>Destination</h2>

  <div class="desination">
    <select id="#destination">
      <option>Blank</option>
    </select>
  </div>

  <input type="button" id="restart" value="Find">
</script>

<script type="text/x-template" id="flightid-template">
  <div class="container"></div>
  <table class="table table-bordered">
  <tr class="active"><p>Flight:<mark>{{flight}}</mark></p></tr>
  <tr class="active"><p>Origin: <mark>{{origin}}</mark></p></tr>
  <tr class="active"><p>Destination: <mark>{{destination}}</mark></p></tr>
  <tr class="active"><p>Date: <mark>{{flight.date}}</mark></p></tr>
  </table>
</div>
  <div class="redline">
    <!-- nested looop for rows and columns -->
      <div id="seats"></div>
      <!-- order is important, make sure we render first this.$el.find -->
      <!-- flight view render _template to paste variables in-->
    </table>
  </div>

</script>
</div>
