<h1>Burning Airlines</h1>

<h2>Origin</h2>

<div class="origin">
<select id="origin">
  <option>Blank</option>
</select>
</div>

<!-- <form method="get">
Start: <input type="text" name="fname" id="start"><br>
End: <input type="text" name="lname" id="end"><br> -->

<h2>Destination</h2>

<div class="desination">
<select id="#destination">
  <option>Blank</option>
</select>
</div>

<input type="button" id="restart" value="Find">

<!-- Append results to main -->
<div id="main">
</div>

<script type="text/x-template" id="flights-template">

</script>

<script type="text/x-template" id="airplane-template">
  
</script>
