<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <div class="navbar-header"><a href="/#">Home</a></div>
    </li>
    <li>
      <div class="navbar-header"><a href="/#search">Search for a flight</a></div>
    </li>
    <% if @current_user.present? %>
    <li>
      <div class="navbar-header">
        <%= link_to "Log out #{ @current_user.name }", login_path, :method => 'delete', :class => "nav_link" %>
      </div>
    </li>
    <% else %>
    <li>
      <div class="navbar-header"><a href="/login">Login</a></div>
    </li>
    <li>
      <div class="navbar-header">
        <%= link_to "Create account", new_user_path, :class => "nav_link" %>
      </div>
    </li>

    <% end %>
  </ul>
</nav>
<div class="container">
  <h1>Burning Airlines</h1>
  <br>

<!-- Append results to main -->
<div id="main">
</div>

<script type="text/x-template" id="flights-home">

  <div class="col-md-6">
    <h3>Start your journey into death today</h3>
      <button class="btn btn-success">Find a flight</button>
    </div>
    <div class="col-md-6">
      <h3>List of flights</h3>
  </div>

</script>


<script type="text/x-template" id="flights-template">

  <h2>Origin</h2>

  <div class="origin">
    <select id="origin">
      <option>Blank</option>
    </select>
  </div>

  <h2>Destination</h2>

  <div class="desination">
    <select id="#destination">
      <option>Blank</option>
    </select>
  </div>

  <input type="button" id="restart" value="Find">
</script>

<script type="text/x-template" id="flightListView-template">
  <ul>
  <li>FLIGHT DATE GOES HERE</li>
  <li>flight ID GOES HERE</li>
  <li>Flight origin > Flight destination GOES HERE</li>
  <li> Flight name GOES HERE</li>
  <li> Seats GO HERE</li>
  </ul>
 </script>

<script type="text/x-template" id="airplane-template">

</script>
<!-- search template begin -->
<script type="text/x-template" id="search-template">

  <h2>Origin</h2>

  <div class="origin">
    <select id="origin">
      <option>Choose one (but obviously not this actual one you drunk muppet):</option>

    </select>
  </div>

  <h2>Destination</h2>

  <div class="desination">
    <select id="destination">
      <option>Choose one (but obviously not this actual one you drunk muppet):</option>
    </select>
  </div>

  <input type="button" id="doSearch" value="Find">

  <div id="search_results">
  <!-- search results -->
  </div>
</script>

<!-- search template end -->

<script type="text/x-template" id="search-results-template">
  <div class="col-md-4">HERE ARE THE RESULTS
    <table class="table table-bordered" id="searchResultsTable">
      <tr>
        <td>Date</td>
        <td>Flight</td>
        <td>From</td>
        <td>To</td>
        <td>Plane</td>
      </tr>
    </table>
  </div>
</script>

<script type="text/x-template" id="flightid-template">
  <div class="col-md-4">
    <table class="table table-bordered">
      <br>
      <tr class="active"><p>Flight:<mark>{{=flight_num}}</mark></p></tr>
      <tr class="active"><p>Origin: <mark>{{=origin}}</mark></p></tr>
      <tr class="active"><p>Destination: <mark>{{=destination}}</mark></p></tr>
      <tr class="active"><p>Date: <mark>{{=date}}</mark></p></tr>
      <tr class="active"><p>Cols: <mark id="col">{{=airplane.column}}</mark></p></tr>
      <tr class="active"><p>Rows: <mark id"row">{{=airplane.row}}</mark></p></tr>
    </table>
  </div>
  <div class="col-md-8">
    <!-- nested looop for rows and columns -->
    <p>Please click to select a seat</p>
    <p>Your seat is: <span class="thisSeat"></span></p>

      <div id="seats"></div>
      <!-- order is important, make sure we render first this.$el.find -->
      <!-- flight view render _template to paste variables in-->
    </table>
  </div>

</script>

<script type="text/x-template" id="blackSeat">
  <img src="http://www.4wd.com/aux_incl/images.ashx?i=TR6701MB.jpg&partNo=CBU&w=50&h=50" alt="">
</script>
</div>
