@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
   margin-top: 100px;
   max-width: 960px;
   margin: 0 auto;
 }

 .nav {
     list-style: none;
     display: flex;
 }

 .navbar-header {
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 160px;
     text-align: center;
     padding: 5px;
     font-size: 16px;
     margin: 20px 20px 80px 0;
     background-color: #eee;
     color: black;
 }
 .navbar-header:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}
.navbar-header:active {
   background-color: rgb(255, 0, 0);
   color: black;
}
#home_link {
margin-right: 10px;
}
 .redline {
   border: 1px solid red;
 }

 .colorful {
   color: white;
   text-align: center;
   background-color: grey !important;
  //  border-radius: 2px solid white;
   border: 2px solid white;
   height: 40px;
   line-height: 40px;
   font-size: 10px;
 }

 .colorful {
   color: white;
   text-align: center;
   background-color: grey !important;
  //  border-radius: 2px solid white;
   border: 2px solid white;
   height: 40px;
   line-height: 40px;
   font-size: 10px;
 }

 .colorful:hover {
   background-color: #d3d3d3 !important;
 }

 .colorful:active {
   background-color: red !important;
}
