.pink {
  margin-top: 100px !important;
}

.redline {
  width: 200px !important;
  border: 1px solid red;
}

#seats {
  max-width: 400px;
}

.seatShape {
  width: 30px;
  height: 30px;
  border-top: 5px;
  color: grey;
}


/* Nav Inline currently DOES NOT WORK ;'{         */
.navbar-nav li {
  display: inline;
}

.navbar-header {
  display: inline;
}
